body {
	background: #006593;
}
body > .navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}
body > .container {
	padding: 0;
}
.navbar-inverse{
	background-color: #003479;
}
#navbar {
	padding-left: 60px;
}
a.navbar-brand{
	padding: 2px 15px;
	position: absolute;
}
